{{- $defaultConfig := .Site.Data.config.default.widgets.recent_posts -}}
{{- $configData := ( or .Site.Data.config.widgets.recent_posts $defaultConfig ) -}}
{{- $lang := .Site.Language.Lang -}}
{{- $config := ( ( index $configData $lang ) | default $configData ) -}}

{{- $length := ( $config.length | default 5 ) -}}

<section class='widget widget-recent_posts'>
  {{ range ( first 2 ( where .Site.RegularPages "Type" "not in" $config.excludeTypes ) ) }}
  <div class="sep-after"><header class="header entry-header">
    <h2 class='title widget-title' style="margin-bottom: 0;">
        {{ .Title }}
    </h2>
    {{ partial "entry/meta" . }}
  </header>
  {{ partial "entry/cover" . }}
  <p>{{ .Summary }}</p>
  <a href='{{ .Permalink | relURL }}'>
    Read More >>
  </a></div>
  {{ end }}

  <!-- <ul class='list'>
  {{ range ( first 1 ( where .Site.RegularPages "Type" "not in" $config.excludeTypes ) ) }}
    {{ .Render "li" }}
  {{ end }}
  </ul> -->
</section>
